.App {
   width: 100%;
   margin-bottom: 0px;
}
* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}
img {
   width: 100%;
}
body {
   position: relative;
   /* background-color: rgba(0, 0, 0); */
}
.row {
   margin: 0px !important;
}
